@import "~antd/dist/antd.css";

.leaderboard {
  max-width: 600px;
  padding: 0;
}

.intro {
  min-height: 350px;
  min-width: 550px;
  margin-bottom: 2.5%;
  padding: 0;
}

.recently-played {
  min-height: 350px;
  min-width: 265px;
  padding: 0 1.5% 0 0;
}

.comments {
  min-height: 350px;
  min-width: 265px;
  padding: 0 0 0 1%;
}

.box {
  min-height: 100%;
  background-color: white;
}

/* Start - home page game description section */
.intro-container {
  padding: 2%;
}

.logo {
  float: left;
  padding: 3%;
}

.tag-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tag-list li {
  margin-right: 2%;
  color: white;
  background-color: #ff615a;
  padding: 0 2% 0 2%;
  border-radius: 10px;
}

.rating-value {
  font-size: 500%;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.play-button {
  float: right;
  margin-bottom: 20px;
  background-color: #6dcd3e;
  color: white;
  font-size: 150%;
  padding: 0.5% 4% 0.5% 4%;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
}

.play-button:hover {
  background-color: #92df6c;
}

.game-title h1 {
  padding: 2.5% 0 2.5% 0;
  margin: 0;
}

.game-description p {
  margin: 0;
  padding: 0 0 2.5% 0;
  font-size: 120%;
  color: #898a8c;
}

/* End - home page game description section */

/* Start - play page menu list  */
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 750px;
  margin-left: 10%;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-list button {
  border: none;
  color: white;
  font-size: 130%;
  letter-spacing: 1.5px;
  font-weight: 500;
  width: 250%;
  margin: 8%;
  padding: 5% 3%;
  border-radius: 10px;
}

.menu-list Link button {
  border: 1px solid black;
}

.menu-list .orange {
  background-color: #ff615a;
}

.menu-list .blue {
  background-color: #4fc4b5;
}

.title-green {
  color: #4fc4b5;
}

.title-orange {
  color: #ff615a;
}

.title {
  font-size: 250%;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-logo {
  margin: 5% 0;
}

.leaderboard {
  background-color: #b8b8b8;
  min-height: 100%;
}

/* End - play page menu list  */

/*Start - Comment section*/
.comment-body {
  padding: 2%;
}

.input-text {
  min-height: 40px;
  border: none;
  width: 85%;
  font-size: 15px;
  outline: none;
  border-width: 0px;
}

.comment-button {
  padding: 0%;
  font-size: 14px;
  background-color: #ece8e8;
  border: none;
  border-radius: 7px;
  color: #5a5a5a;
  margin-left: 1%;
  width: 12%;
  height: 100%;
}

.col-box {
  padding: 0 0 0 1%;
}

.input-type-box {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #a2a2a2;
  margin: 0;
}

.col-box.text {
  padding: 0%;
}

.col-box.avatar {
  padding-left: 20px;
}

.row.comment-list {
  margin: 3% 0 0 0;
  padding: 0 5% 0 5%;
  max-height: 250px;
  max-width: 100%;
  padding: 0%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.row.comment {
  overflow: hidden;
  padding: 0%;
  justify-content: left;
}

.col-box.comment.avatar {
  padding: 2% 0 0 2%;
}

/*Modal - Comment*/

.modal-comments .ant-modal-content {
  height: auto;
  padding: 2%;
  border-radius: 2%;
}

.user-name p {
  margin-top: 2%;
  font-size: 25px;
}

.row.comment-popup-rate,
.row.comment-popup-text {
  padding: 0 2% 1% 2%;
}

.popup-rate {
  font-size: 40px;
}

/*End - comment section*/

/* Recently Played section */

.recently-played-body {
  padding: 2%;
}

.player-list {
  overflow-y: scroll;
  max-height: 300px;
  max-width: 100%;
  overflow-x: hidden;
}

.player-content {
  padding: 2%;
  margin: 2%;
  box-shadow: 0 0 4px #c0b9d6;
  text-align: justify;
}
.activity {
  color: red;
  padding-left: 7%;
}

.activity-status {
  color: green;
  padding-left: 7%;
}

.player-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-row h6 {
  margin-bottom: 0;
}

/* GameBoard Section */
#game {
  margin: 30% 40% 20% 20%;
}

#board {
  display: flex;
  width: 390px;
  flex-wrap: wrap;
  background-color: #4fc4b5;
}

.orange-font {
  color: #ff615a;
}

.white-font {
  color: white;
}

.square {
  width: 130px;
  height: 130px;
  border: 0.25px solid white;
  font-size: 800%;
  font-weight: 700;
  /* color: #ff615a; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.square:hover {
  background-color: #72f5e3;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square:nth-child(3n) {
  border-right: 0;
}

.square:nth-child(3n + 1) {
  border-left: 0;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
  border-top: 0;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
  border-bottom: 0;
}

#turn {
  font-size: 190%;
}

#score {
  font-size: 400%;
}

#match-type {
  font-size: 150%;
}

/*Start - single player Modal */

.modal .ant-modal-content {
  padding: 5%;
  height: 700px;
  border-radius: 2%;
  margin-top: 15%;
}

.modal .anticon svg {
  font-size: 23px;
}
.modal-title {
  color: #8d8d8d;
  font-size: 25px;
}

.button {
  font-size: 35px;
  color: white;
  width: 230px;
  border: none;
  height: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button.difficulty {
  background-color: #ff615a;
}

.button.difficulty:hover {
  background-color: #ff7c75;
  color: white;
}

.button.difficulty.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: white;
  background-color: #e72d25;
}

.button.difficulty.easy {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid white;
}

.button.difficulty.hard {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid white;
}

.button.symbol {
  background-color: #4fc4b5;
}

.button.symbol:hover {
  background-color: #4fdfcd;
  color: white;
}

.button.symbol.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: white;
  background-color: #379080;
}
.button.symbol.X {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid white;
}

.button.symbol.O {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid white;
}

.button.rounds {
  background-color: #6dcd3e;
}

.button.rounds:hover {
  background-color: #6de856;
  color: white;
}

.button.rounds.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: white;
  background-color: #559901;
}

.button.rounds.three {
  border-radius: 30px 0 0 30px;
  border-right: 1px solid white;
}

.button.rounds.five {
  border-radius: 0 30px 30px 0;
  border-left: 1px solid white;
}

.row.button {
  width: 100%;
  padding: 0 12%;
  margin: 9% 0;
}

.ant-checkbox .ant-checkbox-inner {
  background-color: none;
  border: none;
}

/* End - Modal*/
/*gap*/
.gap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*player card*/
.player-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 750px;
}
.player-card {
  background-color: white;
  align-items: center;
  text-align: center;
  padding: 10%;
  border-radius: 25px;
  min-height: 325px;
  min-width: 300px;
  filter: drop-shadow(0px -4px 15px rgba(255, 97, 90, 0.6))
    drop-shadow(0px 4px 12px #ff615a);
}
.aiturn {
  filter: drop-shadow(0px -4px 7px rgba(255, 97, 90, 0.6))
    drop-shadow(0px 4px 7px #ff615a);
}
.player-contact {
  font-size: 10px;
}
/* Modal - result */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal2 .ant-modal-content {
  padding: 5%;
  height: 300px;
  border-radius: 2%;
  margin-top: 25%;
}

.continue-btn {
  background-color: #4fc4b5;
  color: white;
  border: none;
  font-size: 150%;
  border-radius: 10%;
  margin: 2%;
  padding: 2%;
  width: 32%;
}

.pts-round {
  font-size: 130%;
}

.buttons-box {
  width: 100%;
}
 .buttons-box a {
   padding-left: 10%;
 }